{% extends 'base.html.twig' %}

{% block title %}Argonautes{% endblock %}

{% block body %}
<section class="hero is-medium has-bg-img">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">La liste définitive des Argonautes</h1>
        <h2 class="subtitle has-text-success-light">
          Grèce antique "515 avant JC"
        </h2>
      </div>
    </div>
  </section>
    <div class="container column is-3 ">
        {{ form(dataForm) }}
    </div>
    
    <div class="columns is-multiline">
    {% for argonautes in argonautes  %} 
      <div class="column is-3" >
        <h3 class="title has-text-centered is-size-4">
         {{argonautes.name}}
        </h3>
      </div>
  
    {% endfor %}
</div>


{% endblock %}


