<footer class="footer has-background-primary-light">
    <div class="content has-text-centered">
      <p>
        <strong>Argonaute</strong> by <a href="https://github.com/YasmineRoque">Yasmine ROQUE AZEVEDO</a>. The source code is licensed
        <a href="https://github.com/YasmineRoque/TestWS-by-Symfony">YAZ</a>. The website content
        is licensed <a href="https://www.wildcodeschool.com/fr-FR">WS BY Wild Code School</a>.
      </p>
    </div>
  </footer>